name: .NET Core

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.0.100
    - name: Build with dotnet
      run: dotnet build --configuration Release
      working-directory: ./source
    - name: Run unit tests
      run: dotnet test
      working-directory: ./source
    - name: Build NuGet Package
      run: dotnet pack --configuration Release -o NuGetPackages
      working-directory: ./source
    - name: Deploy NuGet Package
      run: dotnet nuget push ./source/NuGetPackages/*.nupkg -k $NUGET_API_KEY -s https://api.nuget.org/v3/index.json
